<div class="menu  text-center" style="font-size: 20px; position: fixed; width: 60px; height:  100vh ; background: #179aec ; margin-top: 70px;">

<!-- <a routerLink="/" style="color: #ddd;"> <div class=" pt-4"><i class="fa-solid fa-house"></i></div></a> -->
<a routerLink="/home" style="color: #ddd;" > <div class=" pt-4"  pTooltip="Trang chủ"><i class="fa-solid fa-house"></i></div></a>

<a routerLink="/" style="color: #ddd;"><div class="pt-4"  pTooltip="Trang cá nhân"><i class="fa-solid fa-user"></i></div></a>

<a href="https://www.youtube.com/" style="color: #ddd;"> <div class="pt-4"  pTooltip="Youtube"><i class="fa-brands fa-youtube"></i></div>
</a>


</div>
