<div class="modal-wrapper">
		<div class="modal-content" style="width: 50%;">
			<h2 style="text-align: center; color: rgb(26, 93, 181);">Bạn cần đăng nhập để tiếp tục</h2>
			<div class="row">
                <form  class="was-validated col-md-6" >
    <div class="form-group">
      <label for="">Tên đăng nhập:</label>
      <input type="text" class="form-control" id="uname" placeholder="VD : ngoc9922" formControlName="username" required>
      <div class="valid-feedback">Hợp lệ.</div>
      <div class="invalid-feedback" >Điền tên đăng nhập</div>
    </div>
    <div class="form-group">
      <label for="">Mật khẩu:</label>
      <input type="password" class="form-control"  placeholder="VD : 123456789"  formControlName="password" required>
      <div class="valid-feedback">Hợp lệ.</div>
      <div class="invalid-feedback">Điền mật khẩu</div>
    </div>
    <button type="submit" class="btn btn-primary"  >Đăng Nhập</button>
    <div type="submit" class="btn btn-primary ml-5"><a routerLink="/register" style="color: #ddd;">Đăng Ký</a></div>

            </form>
            <div class="icon_facebook col-md-6"><img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt=""></div>
            </div>
		</div>
	</div>






  