<footer style="background: #3d548e  ; color: #ddd;" class="pt-3">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>FaceBook</h2>
                <p>Facebook là một trong những mạng xã hội hàng đầu thế giới hiện nay, là nơi kết nối tất cả mọi người lại với nhau trên toàn thế giới. Tương tự như mạng Internet, Facebook tạo ra một thế giới phẳng - nơi không còn khoảng cách địa lý cho phép tất cả người dùng đăng tải và chia sẻ trạng thái, thông tin cá nhân và tương tác với người khác.</p>
            </div>
            <div class="col-md-4">
                <h2>Liên Hệ</h2>
                <p>Facebook là một trong những mạng xã hội hàng đầu thế giới hiện nay, là nơi kết nối tất cả mọi người lại với nhau trên toàn thế giới. Tương tự như mạng Internet, Facebook tạo ra một thế giới phẳng - nơi không còn khoảng cách địa lý cho phép tất cả người dùng đăng tải và chia sẻ trạng thái, thông tin cá nhân và tương tác với người khác.</p>
            </div>
            <div class="col-md-4">
                <h2>Liên Kết Nhanh</h2>
                <p>Facebook là một trong những mạng xã hội hàng đầu thế giới hiện nay, là nơi kết nối tất cả mọi người lại với nhau trên toàn thế giới. Tương tự như mạng Internet, Facebook tạo ra một thế giới phẳng - nơi không còn khoảng cách địa lý cho phép tất cả người dùng đăng tải và chia sẻ trạng thái, thông tin cá nhân và tương tác với người khác.</p>
            </div>
        </div>
    </div>


</footer>
